.exploreCard {
    background-color: #571207;
    max-width: 375px;
    height: 220px;
    margin: 55px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.exploreButton {
    background-color: #FBF5E4;
    width: 100px;
    height: 30px;
    border-radius: 15px;
}

.exploreImage {
    position: relative;
    height: 114px;
    width: 166px;
}