@import '../../assets/styles/colors.scss';

// @import '../../assets//fonts/charter/webfonts/stylesheet.css';
// @import '../../assets/fonts/gill-sans/stylesheet.css';
@import '../../assets/fonts/fonts.scss';

.chantCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.chantCard {
    background-color: $secondary-background-color;
    max-width: 375px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0;
    margin: 0;
}

.chantText {
    width: 187.5px;
    margin: 0 12px 0 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chantTitle {
    font-family: 'charterbold', 'Times New Roman', sans-serif;
    color: $dark-text;
    font-size: 23px;
    font-weight: 600;
    margin-top: 20px;
}

.chantSubtitle {
    color: $dark-text;
    font-family: 'GillSansRegular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    margin-top: 20px;
}

.chantImage {
    position: relative;
    height: 187.5px;
    width: 187.5px;
    margin-top: 30px;
    bottom: 0;
}

.chantButton {
    width: 160px;
    height: 30px;
    background-color: transparent;
    border: 1px solid $accent-dark;
    border-radius: 16px;
    margin: 20px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;

    &:active {
        background-color: #ffe4e1;
    }

    .chantPlayicon {
        width: 10px;
        height: 11px;
        margin-left: 5px;
    }

    .chantPlayText {
        font-family: 'charterbold', 'Times New Roman', sans-serif;
        color: $accent-darker;
        font-size: 12px;
        margin-right: 5px;
    }
}