.chantCard {
    background-color: #FBE7CC;
    max-width: 375px;
    height: 220px;
    margin: 55px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.chantHeader {
    width: 187.5px;
}

.chantImage {
    position: relative;
    height: 187.5px;
    width: 187.5px;
    bottom: 0;
}

