.navSliderContainer {
    position: relative;
    z-index: 2;
    margin-left: 15px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;

    &::-webkit-scrollbar {
        background-color: transparent;
        // width: 0.5rem; // Adjust the width as needed
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent; // Make the thumb transparent
    }

    &::-moz-scrollbar {
        background-color: transparent;
        // width: 0.5rem;
    }

    &::-moz-scrollbar-thumb {
        background-color: transparent;
    }

    scrollbar-width: thin;
    /* For Firefox Quantum */
    scrollbar-color: transparent transparent;
    /* For Firefox Quantum */

    .navSlidePiece {
        background-color: transparent;
        border: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px
    }

    .navSlidePieceImage {
        width: 90px;
        height: 90px;

        img {
            border-radius: 100%;
        }
    }

    .navSlidePieceTitle {
        font-size: 14px;
        color: #FBF5E4;
        margin-top: 10px;
    }
}