.navSliderContainer {
    position: relative;
    z-index: 2;
    margin-left: 15px;

    .navSlidePiece {
        background-color: transparent;
        border: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navSlidePieceImage {
        width: 95px;
        height: 95px;

        img {
            border-radius: 100%;
        }
    }

    .navSlidePieceTitle {
        font-size: 14px;
        color: #FBF5E4;
        margin-top: 10px;
    }
}