.navSlider {
    width: calc(100% - 15px);
    margin-left: 15px;
    margin-bottom: 50px;
  
    .swiper-container {
      border-radius: 15px;
    }
  
    .navSlide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .navSlideContent {
      text-align: center;
      margin-top: 10px;
  
      .navSlideImage {
        border-radius: 50%;
        width: 90px;
        height: 90px;
      }
  
      .navSlideText {
        font-size: 14px;
        color: #FBF5E4;
        margin-top: 10px;
      }
    }
  }
  