@import '../../assets/fonts/charter/webfonts/stylesheet.css';

.headerContainer {
    position: relative;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    z-index: 2;
}

.greeting {
    font-size: 22px;
    font-family: 'charterbold', 'Times New Roman', Times, serif;
    color: #FBF5E4;
}

.iconContainer {
    position: relative;
    background-color: #FBF5E4;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backIcon {
    background-color: #FBF5E4;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}