@import '../../assets/fonts/charter/webfonts/stylesheet.css';

.headerContainer {
    position: relative;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px 15px 30px 15px;
    z-index: 2;
}

.greeting {
    font-size: 22px;
    font-family: 'charterbold','Times New Roman', Times, serif;
    color: #FBF5E4;
}

.iconContainer {
    position: relative;
    background-color: #FBF5E4;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 120px;
}