.headerContainer {
    position: relative;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 10px 10px;
    z-index: 2;
}

.greeting {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: #FBF5E4;
}

.iconContainer {
    // position: relative;
    background-color: #FBF5E4;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}