@import '../../assets/styles/colors.scss';

@import '../../assets/fonts/charter/webfonts/stylesheet.css';

.headerContainer {
    position: relative;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    z-index: 2;
}

.greeting {
    font-size: 22px;
    font-family: 'charterbold', 'Times New Roman', Times, serif;
    color: $primary-background-color;
}

.iconContainer {
    position: relative;
    background-color: $primary-background-color;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .notificationBadge {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: $notification-badge-color;
        display: flex;
        align-items: center;
        justify-content: center;

        .notificationCount {
            font-family: 'charterbold', 'Times New Roman', sans-serif;
            font-size: 8px;
            color: $light-text;
            text-align: center;
        }
    }
}

.backIcon {
    background-color: $primary-background-color;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}