@import '../../assets/fonts/charter/webfonts/stylesheet.css';
@import '../../assets/fonts/gill-sans/stylesheet.css';

$rotateDegree: 180;

.progressContainer {
    position: absolute;
    z-index: 2;
    height: 180px;
    width: 100%;
    top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBarWrapper {
    position: relative;
    margin: 4px;
    float: left;
    text-align: center;

    .progressCircle {
        position: relative;
        overflow: hidden;
        width: 350px;
        height: 170px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .progressFill {
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 15px solid #C78C3B;
        border-top-color: black;
        border-right-color: black;
    }

}

.progressTimerWrapper {
    position: absolute;
    top: 30px;
    width: 100vw;
    overflow: hidden;


    .progressTimer {
        position: relative;
        width: 280px;
        height: 140px;
        margin: 0 auto;
        background: url('../../assets/icons/shape\ 1.svg') center/cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #5D422C;
        padding: 32px 0px;

        .progressChantName {
            font-family: 'GillSansSemiBold', sans-serif;
            font-size: 12px;
            // font-weight: 500;
        }

        .progressChantTime {
            font-family: 'charterbold', 'Times New Roman', sans-serif;
            font-size: 37px;
        }
    }
}