$overlay-dark: #571207;

$primary-background-color: #FBF5E4;
$secondary-background-color: #FBE7CC;

$gradient-light: #E2C186;
$gradient-dark: #716143;

$accent-dark: #922616;
$accent-darker: #6E1A0D;
$light-text: #FFFFFF;
$dark-text: #5D422C;
$notification-badge-color: #79AF2E;