@import '../../assets/fonts/charter/webfonts/stylesheet.css';

.ion-content {
    position: relative;
}

.navBackIcon {
    position: absolute;
    top: 50px;
    left: 15px;
    background-color: #FBF5E4;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    z-index: 2;
}

.topTrendUnderlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: url('../../assets/images/temple.jpg') center/cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
}

.bottomTrendUnderlay {
    position: absolute;
    top: 430px;
    left: 0;
    width: 100%;
    // height: 100%;
    bottom: 0;
    background-color: #FBF5E4;
}

.trendPageHeader {
    position: relative;
    top: 480px;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    font-family: 'charterbold', 'Times New Roman', sans-serif;
    font-size: 26px;
    color: #5D422C;
}

.trendPageText {
    position: relative;
    top: 520px;
    z-index: 2;
    margin: auto 40px;
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: #922616;
}