@import '../../assets/styles/colors.scss';

@import '../../assets/fonts/charter/webfonts/stylesheet.css';

.ion-content {
    position: relative;
    --ion-background-color: $primary-background-color;
}

.topTrendUnderlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: url('../../assets/images/temple.jpg') center/cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
}

.trendPageHeader {
    position: relative;
    top: 400px;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    font-family: 'charterbold', 'Times New Roman', sans-serif;
    font-size: 26px;
    color: $dark-text;
}

.trendPageText {
    position: relative;
    top: 430px;
    z-index: 2;
    margin: auto 40px;
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: $accent-dark;
}